<nav>
  <a routerLink="/quiensoy">
    <i class="fas fa-user"></i>
    <span>Quien Soy</span>
  </a>
  <a routerLink="/servicios">
    <i class="fab fa-servicestack"></i>
    <span>Servicios Ofrecidos</span>
  </a>
  <a routerLink="/trabajos">
    <i class="fas fa-briefcase"></i>
    <span>Trabajos Realizados</span>
  </a>
  <a routerLink="/formacion">
    <i class="fas fa-user-graduate"></i>
    <span>Formacion</span>
  </a>
  <a routerLink="/contacto">
    <i class="fas fa-file-signature"></i>
    <span>Contacto</span>
  </a>

</nav>
