* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
header  i{
    width: 10%;
}
header h1{
    width: auto;
    background-color: yellow;
    color: black;
    font-size: 20px;
}
header nav {
    width: 30%;
}
main { 
    display: flex;
    flex-flow: row wrap;
    height: 600px;;
}

main nav {
    width: 100%;;
    background-color: red;
    height: 100px;
}


main section {
    width: 100%;;
    background-color: yellow;
    height: 400px;
}

main aside {
    width: 100%;;
    background-color: orange;
    height: 300px;
}