
header figure {
    width: 30%;
    order:1;
    display: block;
}
header figure img {
    height:90px;
}
header h1 {
    width: 70%;
    order: 2;
}
header nav {
    width: 100%;
    order: 3;
    justify-content: space-around;
}
header nav a{
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-around;
    align-items:center;
}
header nav a i{
    display: block !important;
    order:2;
}
header nav a span{
    order:1;
}

main nav {
    width: 10%;
    flex-flow: column nowrap;
    justify-content: flex-start
}
main section {
    width: 70%;
    order:2;
}
main section h2{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
main section article {
    width: 30%
}
main aside {
    order:3;
    width: 20%;
}
footer{
    display: flex;
    flex-flow: row wrap;
}

footer #mapa {
    width: 50%;
    order:2
}
footer #sociales {
    width: 50%;
    order:1
}