<div id="qsomos">
  <figure>
    <img src="assets/img/quienes-somos.png">
  </figure>

 <p> Techno Injection & Tools SA de CV, es una empresa ubicada en Saltillo, Coahuila, creada el 17 de mayo de 2010, dedicada a satisfacer las necesidades de la industria con materiales de la más alta calidad, demandados principalmente en la industria de la inyección de plástico, distribuidores máster de la marca Carlo Gavazzi.</p>

 <p> La experiencia de nuestro equipo de trabajo de más de 30 años en el área de la inyección de plástico nos lleva a prestar servicios de excelencia y con calidad asegurada.</p>

  <p>Nos dedicamos a la fabricación y venta de todo tipo de productos para calefacción; resistencias, termopares, conectores, partes y componentes para moldes, relevadores, controladores de temperatura, etc. Productos para automatización, sensores, manejo de energía, control. Fabricamos a la medida, teniendo en cuenta la necesidad de cada cliente, asegurando la óptima solución.</p>
</div>
